* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    display: flex;
    font-family: 'Cabin', sans-serif;
    gap: 15px;
}

.main-panel, .score-panel {
    background-color: bisque;
    padding: 40px;
    height: 100vh;
}

.main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.score-panel {
    flex-shrink: 0;
    height: 100vh;
    overflow-y: scroll;
    width: 300px;
}

#play-history {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 45px;
}

button {
    width: 100%;
    padding: 30px;
    font-size: 20px;
}

hr {
    border-color: red;
    margin: 20px 0;
}

.main-header, .score-header, .score-copy *, .winner-header {
    text-align: center;
}

.main-header {
    font-size: 30pt;
    margin-bottom: .5em;
}

.score-header {
    font-size: 21pt;
}

.main-copy {
    font-size: 14pt;
    margin: 0 auto;
    max-width: 50ch;
}

.main-copy * {
    line-height: 1.3;
    margin-bottom: 1.25em;
}

.score-copy {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.winner-section {
    border: 7px solid;
    border-radius: 10px;
    padding: 25px;
    margin-top: 30px;
}

.winner-header {
    margin-bottom: .5em;
}

.winner-section p {
    margin-bottom: 0;
}

.big-number {
    font-size: 300%;
    font-weight: 700;
}

.make-red {
    color: red;
    border-color: red;
}

.make-green {
    border-color: green;
    color: green;
}